		<div class="col-sm-12">
			<h3><i class="fa fa-id-card"></i> Registrere ny samarbeidspartner</h3>
			<div class="ibox">
        		<div class="ibox-content">
        			<div class="panel-body">	

						<%= render 'form', partner: @partner %>

					</div>
				</div>
			</div>
		</div>

	

