@import url('https://fonts.googleapis.com/css?family=Lato|Playfair+Display');
body {
    font-family: 'Lato', sans-serif !important;
}

p,
ul li,
ol li {
    font-weight: 300;
}

a,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}