/*
 * Manifest file for front styles, to be compiled into application.scss
 *
 *= require core-style
 *= require front/style
 *= require front/responsive
 *= require front/fonts/opensans
 *= require front/fonts/shadow-into-light

 */