        <div class="about_single_part_area even">
          <div class="about_us_content item">
              <div class="classy-table">
                  <div class="classy-table-cell">
                      <div class="about_text">
                          <h3><%= artic.title %></h3>
                          <div><%= artic.content.html_safe %></div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="about_thumb item">
              <%#= image_tag(artic.image, :class => "", :alt => "") if artic.image? %>
          </div>            
        </div>
